parameters:
	ignoreErrors:
		-
			message: '#^Return type \(array\<string, mixed\>\) of method Biostate\\FilamentMenuBuilder\\Database\\Factories\\MenuFactory\:\:definition\(\) should be compatible with return type \(array\<model property of Biostate\\FilamentMenuBuilder\\Models\\Menu, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Biostate\\FilamentMenuBuilder\\Models\\Menu\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/MenuFactory.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Biostate\\FilamentMenuBuilder\\Database\\Factories\\MenuItemFactory\:\:definition\(\) should be compatible with return type \(array\<model property of Biostate\\FilamentMenuBuilder\\Models\\MenuItem, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Biostate\\FilamentMenuBuilder\\Models\\MenuItem\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/MenuItemFactory.php

		-
			message: '#^Method Biostate\\FilamentMenuBuilder\\Enums\\MenuItemTarget\:\:getLabel\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Enums/MenuItemTarget.php

		-
			message: '#^Method Biostate\\FilamentMenuBuilder\\Enums\\MenuItemType\:\:getLabel\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Enums/MenuItemType.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$menu_link\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/MenuItem.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$menu_name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/MenuItem.php

		-
			message: '#^Using nullsafe property access "\?\-\>menu_link" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/MenuItem.php

		-
			message: '#^Using nullsafe property access "\?\-\>menu_name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/MenuItem.php

		-
			message: '#^Trait Biostate\\FilamentMenuBuilder\\Traits\\Menuable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/Menuable.php
